.idea!/.idea/
/.idea/DistributedAIProject.iml
/.idea/misc.xml
.idea
.idea
app/__pycache__
/app/TrafficLights/data/
/app/TrafficLights/Models/
/app/TrafficLights/dataset_creator.py
/app/TrafficSigns/archive (1)/
